body {
  font-size: 10px;
  background-color: black;
  background-image: url("./images/maria-svecova-small.jpg");
  background-image: image-set(
    url("./images/maria-svecova-xs.jpg") 1x,
    url("./images/maria-svecova-small.jpg") 2x,
    url("./images/maria-svecova-med.jpg") 3x
  );
  background-image: -webkit-image-set(
    url("./images/maria-svecova-xs.jpg") 1x,
    url("./images/maria-svecova-small.jpg") 2x,
    url("./images/maria-svecova-med.jpg") 3x
  );

  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.haiku {
  margin: 5rem;
}

.line-1,
.line-2,
.line-3 {
  font-family: "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.75rem;
  margin: 2rem;
  color: white;
}
